<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.TermuxArab"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.TerminalActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity android:name=".ui.ToolListActivity"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".ui.ToolRunnerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.VulnScannerActivity" />
        <activity android:name=".ui.VulnDBActivity" />
        <activity android:name=".ui.NetworkScannerActivity" />
        <activity android:name=".ui.SystemMonitorActivity" />
        <activity android:name=".ui.PasswordToolsActivity" />
        <activity android:name=".ui.HttpTesterActivity" />

    </application>
</manifest>
